RewriteEngine on

#decline if it is a folder name
RewriteCond %{REQUEST_FILENAME} !-d

#accept if it is a html file
RewriteCond %{REQUEST_FILENAME}\.html -f

#redirect to the file
RewriteRule ^(.*)$ $1.html [NC,L]

#accept if it is a php file
RewriteCond %{REQUEST_FILENAME}\.php -f

#redirect to the file
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteRule ^staff/([aA-zZ]+)/?$ staff/profile.php?s=$1 [L,QSA]
RewriteRule ^staff/([aA-zZ]+)/bio$ staff/bio.php?s=$1 [N,NE]
RewriteRule ^staff/([aA-zZ]+)/cv$ staff/cv.php?s=$1 [N,NE]
RewriteRule ^staff/([aA-zZ]+)/teaching$ staff/teaching.php?s=$1 [N,NE]
RewriteRule ^staff/([aA-zZ]+)/schedule$ staff/schedule.php?s=$1 [N,NE]
RewriteRule ^staff/([aA-zZ]+)/research$ staff/research.php?s=$1 [N,NE]
RewriteRule ^staff/([aA-zZ]+)/publications$ staff/publications.php?s=$1 [N,NE]

#RewriteRule ^staff/([aA-zZ]+)$ /staff/profile.php?s=$1 [N,NE]
#RewriteRule ^staff/([^/]+)$ staff/profile.php?s=$1 [L,QSA]
#RewriteRule ^staff/([a-z]+)/$ staff/profile.php?s=$1 [L,QSA]

Options -indexes

